body{
    font-family: Arial;
    color: #333;
    text-align: center;
    font-size: 16px;
    background-color: #1e1f24;
    margin: 0;
    padding: 0;
}

#cabecera{
    background-color: #37488b;
    color: white;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.5);
}

#cabecera #logo{
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline{
    margin: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container{
    text-align: left;
    width: 70%;
    padding: 0;
    border: 2px solid #ddd;
    margin: 0 auto;
    background-color: white;
}

#container h1{
    font-size: 20px;
}

#post {
    padding-left: 1em;
}

#footer{
    background-color: #777;
    color: white;
    text-align: center;
    padding: 0.5em;
}